* {
  font-family: "ArcadeClassic", sans-serif;
  user-select: none;
  -webkit-user-drag: none;
}

.basic {
  position: absolute;
  display: flex;
  height: 100px;
  width: 100px;
  background-color: rgb(136, 18, 18);
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1;
  transition: 1s;
}
.tank {
  position: absolute;
  height: 115px;
  width: 115px;
  background-color: darkgreen;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1;
  transition: 1s;
}
.boss {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: rgb(202, 31, 137);
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1;
  transition: 1s;
}
.healthPoints {
  font-size: 150%;
  z-index: 1;
  margin-top: 25px;
  width: 100%;
}
.timer {
  font-weight: bold;
  z-index: 1;
  position: relative;
  margin-top: 0px;
}
.prop {
  background-color: rgba(255, 255, 255, 0);
}
.points {
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1px;
  border: 1px solid black;
  z-index: 5;
}
.wave {
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  border: 1px solid black;
  z-index: 5;
}
.health {
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  border: 1px solid black;
  z-index: 5;
}
.shop {
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1px;
  border: 1px solid black;
  z-index: 5;
}
.shop:active {
  box-shadow: 2px 2px 2px black;
}
.damage {
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1px;
  border: 1px solid black;
  z-index: 5;
}
.hidden {
  opacity: 0;
}
.shop--menu {
  position: absolute;
  height: 450px;
  width: 750px;
  border: 1px solid black;
  top: 35px;
}
.upgrade {
  margin: 5px;
  height: 115px;
  width: 75px;
  text-align: center;
  transition: 0.35s;
  border-radius: 10px;
  z-index: 5;
}
.upgrade:hover {
  box-shadow: 0px 0px 5px 1px black;
}
.upgrade:active {
  background-color: rgb(146, 146, 146);
}
.upgrade:hover .price {
  opacity: 1;
}
.shop--img {
  position: relative;
  height: 75px;
  width: 75px;
  margin-bottom: 0px;
  z-index: 5;
}
.shop--text {
  position: relative;
  top: -17px;
  z-index: 5;
}
.price {
  transition: 0.35s;
  position: relative;
  top: -25px;
  opacity: 0;
  z-index: 5;
}
.start {
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1px;
  border: 1px solid black;
  z-index: 5;
}
.ready {
  font-size: 1.6vw;
  font-weight: bold;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding: 1px;
  border: 1px solid black;
  z-index: 5;
}
.ready:active {
  box-shadow: 2px 2px 2px black;
}
.wave--timer {
  position: relative;
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1px;
  border: 1px solid black;
  z-index: 5;
}
.bestiary {
  font-size: 1.6vw;
  font-weight: bold;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding: 1px;
  border: 1px solid black;
  z-index: 5;
}
.bestiary:active {
  box-shadow: 2px 2px 2px black;
}
.bestiary--menu {
  position: absolute;
  display: grid;
  height: 450px;
  width: 750px;
  border: 1px solid black;
  top: 3vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bestiary--basic--prop {
  height: 100px;
  width: 100px;
  background-color: rgb(136, 18, 18);
  border: 1px solid black;
  margin: 10px;
  margin-right: 10px;
}
.bestiary--basic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bestiary--tank--prop {
  height: 115px;
  width: 115px;
  background-color: darkgreen;
  border: 1px solid black;
  margin: 10px;
  margin-right: 10px;
}
.bestiary--tank {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bestiary--boss--prop {
  height: 350px;
  width: 350px;
  background-color: rgb(202, 31, 137);
  border: 1px solid black;
  margin: 10px;
  margin-right: 10px;
}
.bestiary--boss {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bestiary--className {
  font-size: 150%;
}
.bestiary--data {
  position: relative;
  margin: 0px;
}

.bestiary--basic:hover .bestiary--basic--data {
  opacity: 1;
}

/* .bestiary--data {
  position: relative;
  margin: 0px;
  margin-bottom: -6px;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 1;
} */
.data--container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.data--container--basic {
  width: 100px;
  height: 100px;
  left: 110px;
}
.data--container--tank {
  width: 115px;
  height: 115px;
  left: 125px;
}
.data--container--boss {
  width: 100px;
  height: 350px;
  left: 360px;
}
